@{
    ViewData["Title"] = "Plastic Monkey";
}

<div class="background">
    <div class="text-center">
        <div class="title-with-image">
            <h1 class="display-4">Bienvenido a Plastic Monkey</h1>
            <img src="~/images/mono.jpg" alt="Mono" class="mono-image">
        </div>
        <h3>Mandanos tu proyecto personalizado!</h5>
        <p>Te mostramos algunos diseños ya disponibles:</p>

        <div class="image-gallery">
            <div class="image-item">
                <img src="~/images/Yoshi.webp" alt="Yoshi">
                <p>Yoshi</p>
            </div>
            <div class="image-item">
                <img src="~/images/BlackShyGuy.webp" alt="Black Shy Guy">
                <p>Black Shy Guy</p>
            </div>
            <div class="image-item">
                <img src="~/images/PegasusSeiya.webp" alt="Pegasus Seiya">
                <p>Pegasus Seiya</p>
            </div>
            <div class="image-item">
                <img src="~/images/MarioFire.webp" alt="Mario Fire">
                <p>Mario Fire</p>
            </div>
            <div class="image-item">
                <img src="~/images/OrangeYoshi.webp" alt="Orange Yoshi">
                <p>Orange Yoshi</p>
            </div>
            <div class="image-item">
                <img src="~/images/Luigi.webp" alt="Luigi">
                <p>Luigi</p>
            </div>
            <div class="image-item">
                <img src="~/images/BulletBill.webp" alt="Bullet Bill">
                <p>Bullet Bill</p>
            </div>
            <div class="image-item">
                <img src="~/images/GokuSuperSaiyajin.webp" alt="Goku Super Saiyajin">
                <p>Goku Super Saiyajin</p>
            </div>
            <div class="image-item">
                <img src="~/images/Daisy.webp" alt="Daisy">
                <p>Daisy</p>
            </div>
        </div>
    </div>
</div>

<style>
    .background {
        background-image: url('https://img.freepik.com/free-vector/geometric-pattern-background-vector-white_53876-126684.jpg?w=900&t=st=1720292072~exp=1720292672~hmac=28524f67c1748ffe62dc2963aed77679dd2f15463c926d2e5d0124c03f6302c9');
        background-size: cover;
        background-position: center;
        padding: 20px;
        min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    }

    .title-with-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title-with-image h1 {
        font-family: Monaco, monospace; /* Establece la fuente en monoespacio */
        margin-right: 60px; /* Espacio entre el título y la imagen */
    }

    .mono-image {
        max-width: 150px; /* Ajusta el tamaño de la imagen */
        height: auto;
    }

    h3, p {
        font-family: Helvetica, sans-serif; /* Establece la fuente en sans-serif Helvetica para h5 y p */
    }

    .image-gallery {
        display: flex;
        justify-content: center;
        gap: 20px; /* Ajusta la distancia entre las imágenes */
        flex-wrap: wrap;
    }

    .image-item {
        text-align: center;
    }

    .image-item img {
        max-width: 200px; /* Ajusta el tamaño de las imágenes */
        height: auto;
    }

    .image-item p {
        margin-top: 10px;
        font-weight: bold;
        font-family: Helvetica, sans-serif;
        color: black; /* Cambia el color del texto para que sea visible sobre el fondo */
    }
</style>
